.board {
  background: black;
  flex-shrink: 0;

  td{
    width: 20px;
    height: 20px;
  }
}

.empty{
  background: black;
}

.shape-I{
  background: white;
}
.shape-Z{
  background: white;
}
.shape-O{
  background: white;
}
.shape-L{
  background: white;
}
.shape-T{
  background: white;
}

.player{
  background: red;
}