.game {
  flex-wrap: wrap;
  display: flex;
  margin: 10px;

  header{
    width: 100%;

    .game-over{
      animation: pulse 2s infinite alternate;
    }
    .runing{
      background-color: #4CAF50;
    }
    .pause{
      background-color: #008CBA;
    }

    .game-state {
      text-align: center;
      margin-block-start: 0.1em;
      margin-block-end: 0.1em;
    }
  }

  .container{
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}