.hud{
  padding: 10px;
  display: flex;
  flex-direction: column;

  .btn{
    padding: 2px;
    margin: 2px;
    background-color: #e7e7e7;
  }

  .score {
    text-align: left;
    margin: 0px;
  }

  .buttons{
    display: flex;
    flex-direction: column;

    margin: 20px 0px 20px 0px;

    button:focus {outline:0;}

    .new-game{
      background-color: #4CAF50;
    }

    .pause{
      background-color: #e7e7e7; color: black;
    }

    .start{
      background-color: #e7e7e7; color: black;
    }
  }
}